    <h5 class="profileName"><%= user.firstname + " " + user.lastname %></h5>
    <span class="profileUsername"><em>-<%= user.username %></em></span>
    <div class="dp">

    </div>
    <hr>
<ul>
    <li><a href="#">My Posts</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Settings</a></li>
</ul>