
    <section id="top-projects">
      <h4 class="section-head">Top Projects</h4>
      <%- include('topPosts') %>
    </section>
    <section id="top-papers">
      <h4 class="section-head">Top Papers</h4>
      <%- include('topUsers') %>
    </section>
    <section id="top-seminar">
      <h4 class="section-head">Top Seminars</h4>
      <%- include('topUsers') %>
    </section>
