
    <section id="top-posts">
      <h4 class="section-head">top posts</h4>
      <%- include('topPosts') %>
    </section>
    <section id="top-users">
      <h4 class="section-head">top users</h4>
      <%- include('topUsers') %>
    </section>
