<div class="left-panel d-none d-md-inline col-2">
    <%- include('partials/leftpane', {user: user}) %>
</div>

<div class = "midSection col-12 col-md-10">
    <%- include('partials/userposts', {posts: posts, dash: true}) %>
</div>

<!-- <div class="right-panel d-none d-md-inline col-2">
    <%- include('partials/rightpane') %>
</div> -->