<div class="main-content col-12 col-md-10">
<%- include('partials/userposts', {posts: posts, dash: false,search: false}) %>
</div>
<div class="right-panel d-none d-md-inline col-2">
<%- include('partials/rightpane') %>
</div>