<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ProjectBud</title>
  </head>

  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0&appId=396443384657922&autoLogAppEvents=1" nonce="ToNLlsNQ"></script>
    
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <div class="brand">
              <a class="navbar-brand mr-sm-4" href="/">ProjectBud</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item ml-3">
                  <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item ml-3">
                      <a class="nav-link" href="/post/add">Add Post</a>
                  </li>
                  <% if(!user) {%>
                
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                    <% } else{ %>
                    <li class="nav-item ml-3">
                      <a class="nav-link" href="/users/<%= user.username %>/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                  <% } %>

              </ul>
            </div>
        </div>
      </nav>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-11"> 
            <form action="" class="outsearch form-inline justify-content-center">
              <input class="mr-sm-2" type="search" type="search" placeholder="What are you looking for?">
              <button class="btn btn-light">Search</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="page-content d-flex">
          
            <%- body %>

            

        </div>
      </div>

    

      <!-- Footer of the page -->
      <footer class="page-footer">
        <div class="container d-flex justify-content-center"></div>
          <div class="copyright display-5">This website is a copyright of ................. </div>
        </div>
      </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>