<div class="thread">
    <h3 class="thread-title">Title of the thread</h3>
    <h4 class="post-title">Title of the post for this thread</h4>
    <h5 class="contributors">List of contributors</h5>
    <ul>
        <li>Contrib1</li>
        <li>Contrib2</li>
        <li>Contrib3</li>
    </ul>
    <hr>
    <section class="msg">
        <h4 class="msg-title">Message title</h4>
        <p class="msg-body">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <hr>
    </section>

    <form class="add-msg" action="" method="POST">
        <div class="form-group">
            <label for="post_body">Write your message here!</label>
            <textarea class="form-control" id="msg_body" rows="10" name="msg_body" ></textarea>
        </div>
    </form>
</div>